
div.console {
    white-space: pre;
    cursor: text;
    word-break: break-all;
    word-wrap: break-word;
    font: 13px "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
    background-color: #2B2B2B;
    color: #94B792;
    overflow: auto;
    padding: 10px;

    min-height: 100px;
    max-height: 300px;
}

div.console > div.line:last-child:after {
    color:      #94B792;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    font-feature-settings: normal;
    font-language-override: normal;
    font-kerning: auto;
    font-synthesis: weight style;
    font-variant: normal;
    font-size: inherit;
    text-rendering: auto;
    content: 'ïƒˆ'
}

div.console-footer div.console-tab {
    width: 200px;
}

div.console-tab {
    align-items: center;
    display: flex;
}

div.console-tab > span.console-running {
    color: blue;
}

div.console-tab > span.console-stopped {
    color: green;
}

div.console-tab > span.console-error {
    color: red;
}

div.console-tab > span.title {
    flex-grow: 1;
    cursor: pointer;
}

div.console-tab > .console-remove-button {
    align-self: flex-end;
}

div.console-tab.selected {
    background-color: #55697f;
}

.stderr {
    background-color: #da4f49;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
}

.errorExitCode {
    font-weight: bold;
    background-color: #da4f49;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.console-tab {
    background-color: #424D5F;
    border-top: solid #566172 1px;
    border-left: solid #566172 1px;
    border-right: solid #566172 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding-left: 5px;
    /*height: 26px;*/
    display: flex;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /*height: 60px;*/
    background-color: #F5F5F5;
}

.console-footer {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: #2B2B2B;
}

.console-minimize {
    cursor: pointer;
}